

$duration: 5s;
$text-color: rgba(255, 255, 255, 0.3);
$bgr-color: #ffffff;

html {
  background-color: $bgr-color;
  text-align: center
}

body {
  padding-top: 3em;
}
.custom-customer-review {
  background-color: #f7fff8;
}
.shine,
.chrome {
  font-size: 3em;
  margin: 0 auto;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.shine {
  background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
  -webkit-background-size: 150px;
  color: $text-color;
  -webkit-background-clip: text;
  -webkit-animation-name: shine;
  -webkit-animation-duration: $duration;
  -webkit-animation-iteration-count: infinite;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

.chrome {
  background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
  background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
  -webkit-background-size: 200px;
  color: $text-color;
  -webkit-background-clip: text;
  -webkit-animation-name: shine;
  -webkit-animation-duration: $duration;
  -webkit-animation-iteration-count: infinite;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes shine {

  0%,
  10% {
    background-position: -1000px;
  }

  20% {
    background-position: top left;
  }

  90% {
    background-position: top right;
  }

  100% {
    background-position: 1000px;
  }
}

.profile-container {
  background-color: #ffffff;
  /* Clean white background */
  border: 1px solid #ddd;
  /* Light border for subtle effect */
  overflow: hidden;
  /* Prevent overflow issues */
  border-radius: 2rem;
}

.circled-img {
  width: 120px;
  /* Image size */
  height: 120px;
  /* Keep it square */
  border-radius: 50%;
  /* Makes the image circular */
  border: 4px solid #f0f0f0;
  /* Border around the image */
  object-fit: cover;
  /* Ensure the image fits perfectly */
}

h5 {
  color: #333;
  /* Darker title text */
  font-weight: bold;
  /* Emphasize the title */
}

h6 {
  color: #777;
  /* Muted subtitle text */
}

p {
  font-size: 0.95rem;
  /* Slightly smaller paragraph text */
  line-height: 1.5;
  /* Improve readability */
  color: #555;
  /* Subtle text color */
}

.shadow-lg {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  /* Enhance shadow effect */
}

.dot-container {
  display: flex;
  justify-content: center; /* Spacing between dots */
  align-items: center; /* Vertically align dots */
  margin: 20px;
}

.dot {
  width: 16px; /* Diameter of the dot */
  height: 16px; /* Same as width to make it circular */
  border-radius: 50%; /* Turns square into a dot */
  background-color: #adffb6; /* dot color */
  // color: blue; 
}