<!-- <div class="row" style="margin-bottom:15px;">
    <div class="col-md-3">
      <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
      <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
    </div>
    <div class="col-md-4">
      <span class="upload" *ngIf="progress > 0">
        {{progress}}%
      </span>
      <span class="upload" *ngIf="message">
        {{message}}
      </span>
    </div>
  </div> -->
<!-- <div class="m-3">
    <div class="mb-3">
      <label for="photoInput" class="form-label fw-bold">Photo</label>
      <input type="file" class="form-control" id="photoInput" accept="image/*" (change)="onFileSelected($event)" />
    </div>
    <div *ngIf="filePreview">
      <h5>Preview:</h5>
      <img [src]="filePreview" alt="Uploaded Image" class="rounded-circle" />
    </div>
  </div> -->


  <div id="container-id" class="container w-100">
    <div class="d-flex justify-content-aroud align-items-center">
      <div id="logo" class="p-3">
        logo
      </div>
      <div id="navs" class="p-3">
        <ul>
          <li class="me-2">Home</li>
          <li class="me-2">About</li>
          <li class="me-2">Contack</li>
        </ul>
      </div>
      <div id="icon" class="p-3">icon</div>
    </div>

  </div>