<div class="container-fluid">
  <h5 class="m-3">CustomerReview Table</h5>
  <!-- <hr> -->
  <div class="row bg-white shadow-sm rounded"
    *ngIf="(customerReviews.length > 0) && (customerReviewHeaders.length > 0)">
    <div class="col-12 p-3">
      <!-- Table Starts-->
      <table class="table table-bordered table-striped rounded">
        <thead class="">
          <tr class="text-capitalize fw-normal">
            <th *ngFor="let header of customerReviewHeaders">
              {{ header || 'N/A' }}
            </th>
            <th>Edit/Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let review of customerReviews; let i = index">
            <!-- <td *ngFor="let key of customerReviewHeaders"> {{ review[key] }}</td> -->
            <td *ngFor="let key of customerReviewHeaders">
              <ng-container class="" *ngIf="key === previewKey; else textDisplay">
                <img class="w-50 h-50 circled_img" [src]="this.customerReviews[i].fileDetails['path']"
                  [alt]="review?.name" />
              </ng-container>
              <ng-template #textDisplay>
                {{ review[key] }}
              </ng-template>
            </td>
            <td>
              <button class="btn btn-sm btn-primary me-2" (click)="EditCustomerReview(i)">
                <i class="bi bi-pencil-fill"></i>
              </button>
              <button class="btn btn-sm btn-danger" (click)="DeleteCustomerReview(i)">
                <i class="bi bi-trash-fill"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



  <!-- <hr class="" style="height: 2px; "> -->
  <div class=" bg-white shadow-sm rounded">
    <h5 class="mx-3 mt-3">Add {{selectedSection}} Data</h5>
    <form (ngSubmit)="editingIndex !== null ? UpdateCustomerReview() : CreateCustomerReview()">
      <div class="row p-3">
        <div class="col-6 ">
          <div class="mb-3">
            <label for="imageSrcInput" class="form-label fw-bold">Email</label>
            <input type="text" class="form-control" id="emailSrcInput" [(ngModel)]="newCustomerReview.email"
              name="emailSrc" placeholder="Enter email source" />
          </div>
          <div class="mb-3">
            <label for="nameInput" class="form-label fw-bold">Name</label>
            <input type="text" class="form-control" id="nameInput" [(ngModel)]="newCustomerReview.name" name="name"
              placeholder="Enter name" />
          </div>
          <div class="mb-3">
            <label for="descriptionInput" class="form-label fw-bold">Review Description</label>
            <textarea class="form-control" id="descriptionInput" [(ngModel)]="newCustomerReview.reviewDescription"
              name="description" placeholder="Give a little description" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <label for="photoInput" class="form-label fw-bold">Photo</label>
            <input type="file" class="form-control" id="photoInput" accept="image/*"
              (change)="OnFileSelected($event)" />
          </div>
        </div>
        <div class="col-6 ">
          <div class="mb-3">
            <label for="quotationInput" class="form-label fw-bold">Quotation</label>
            <textarea class="form-control" id="quotationInput" [(ngModel)]="newCustomerReview.quotation"
              name="quotation" placeholder="eg. I will work with him again." rows="3"></textarea>
          </div>
          <div class="mb-3">
            <label for="designationInput" class="form-label fw-bold">Designation</label>
            <textarea class="form-control" id="designationInput" [(ngModel)]="newCustomerReview.designation"
              name="designation" placeholder="eg. CEO" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <label for="addressInput" class="form-label fw-bold">Address</label>
            <textarea class="form-control" id="designationInput" [(ngModel)]="newCustomerReview.address"
              name="designation" placeholder="eg. CEO" rows="3"></textarea>
          </div>
        </div>
        <div class="d-flex justify-content-end me-3">
          <button type="submit" class="btn btn-success me-2" *ngIf="editingIndex === null"><i
              class="bi bi-plus-circle me-1"></i>Add</button>
          <button type="submit" class="btn btn-warning me-2" *ngIf="editingIndex !== null"><i
              class="bi bi-cloud-upload-fill me-1"></i>Update</button>
          <button type="button" class="btn btn-outline-primary" (click)="ResetForm()"><i
              class="bi bi-arrow-clockwise "></i>Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>